<div class="jumbotron">
    <h1>API Contato FGF</h1>
    <p class="lead">CRUD Web API FGF - Trabalho da disciplina de Programação para Internet com o Professor Marcos Araujo. Aplicação desenvolvida usando Visual Studio 2017 .NET Framework.</p>
    <p><a href="https://github.com/marcialwushu/VisualStudioApplication" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>@Html.ActionLink("Contato","Index","ContatosCollectionsView")</h2>
        <p>ASP.NET CRUD Web API. Área destinada ao CRUD da aplicação, para inserção de dados e visulização cliente da aplicação. Para visualizar o codigos do desenvolvimento segue link do projeto no Github.</p>
        <p><a class="btn btn-default" href="https://github.com/marcialwushu/VisualStudioApplication">Learn more &raquo;</a></p>
    </div>
    
</div>
